.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between each user */
}

.user-info div {
  margin-right: 10px; /* Add spacing between individual user info elements */
}
